PRIVATE_KEY=your_base58_private_key_here
RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
WALLET_SOL_PERCENT=30
CYCLE_INTERVAL_SEC=120
MAX_CAS=5
SOL_RESERVE=0.01
MIN_BUY_SOL=0.001
TOKEN_DECIMALS=6
